.vscode
*.txt
*.simple
# trace
*.trace
*.trc
__pycache__
# picker folder
axi2ui
# wave
*.fst
*.fsdb*
*.dat
*.hier
xsim.dir
xvlog.pb
reports
verdiLog
*.log
ucli.key
novas_dump.*
novas.*
marker.rpt
signal.rc
*.vdb
vdCovLog
rtl/axi2ui_filelist.f